/********* tela gerenciamento*********/
body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;

}

.btn-outline {
    background-color: #fafafa;
    color: #26BAA9;
    padding: 5px 8px;
    border: 1px #26BAA9;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    transition: all .4s ease;
    margin: 10px;
}

.btn-outline:hover {
    background-color: #26BAA9;
    color: #fafafa;
}

.btn-outline:focus {
    background-color: #26BAA9;
    color: #fafafa;
}

.npk1 {
   background: #FFF;
    text-align: left;
    top: 0;
    left: 2px; /* Aumente a margem esquerda */
    width: 770px;
    height: 600px;
    border: 1px solid #606060;
    border-radius: 40px;
}

/************************tela inicial********************/

#dropdownMenuButton {
    background-color: #26BAA9;
    text-align: center;

}
.form-group{
    margin: 10px;
  
}


/********* tela add promoção*********/
#cabecalho {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #B1EFE8;
    height: 200px;
}

#imgex {
    position: left;
    width: 257px;
    height: 100px;
}


#botoes {
    text-align: right;
    margin-top: 20px;
}