/********* tela adm- Rayane*********/

body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

section li {
    display: inline-block;

}

img {
    /*display: block;*/
    margin: auto;
    align: left;
}

/********* tela gerenciamento*********/

.btn-outline{
    background-color: #fafafa;
    color: #26BAA9;
    padding: 5px 8px;
    border: 1px #26BAA9;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: all .4s ease;
    margin: 10px;
}
.btn-outline:hover{
    background-color: #26BAA9;
    color:#fafafa;
}
.btn-outline:focus{
    background-color: #26BAA9;
    color:#fafafa;
}

/********* tela add promoção*********/
#cabecalho {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #B1EFE8;
    height: 200px;
}

#imgex {
    position: left;
    width: 257px;
    height: 100px;
}

#formulario {
    
    /*border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: #fafafa;*/
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    

}

#botoes {
    text-align: right;
    margin-top: 20px;
}